.header nav{
    display: flex;
    width: 100%;
    margin-left: 4em;
    gap: 20px;
}

.header nav input{
    display: none;
}

.header nav .menu{
    /* display: none; */
    width: 60px;
    height: 60px;
}

.header nav .menu .hamburguer{
    display: block;
    width: 30px;
    height: 2px;
    background-color: white;
    position: relative;
    top: 25px;
}

.header nav .menu .hamburguer::before,
.header nav .menu .hamburguer::after{
    background-color: white;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.header nav .menu .hamburguer::before{
    top: -10px;
}

.header nav .menu .hamburguer::after{
    top: 10px;
}

/* menu hamburguer */

.header nav .item{
    position: relative;
}

.header nav .item > a{
    margin-bottom: 10px;
    font-size: 1.1em;
    color: var(--text-color2);
    padding: 2px 5px;
    transition: .3s ease;
}

.header nav .item > a:hover{
    text-decoration: underline;
    color: white;
}

.header nav .item > a::after{
    display: inline-block;
    content: url(../images/icon-arrow-light.svg);
    margin-left: 4px;
    position: absolute;
    top: 0;
    transition: .3s ease;
}

.header nav .item > a:hover::after{
    transform: rotate(180deg);
    top: 6px;
}

.header nav .item a{
    color: #fff;
}

.header nav .item ul{
    display: none;
    position: absolute;
    top: 35px;
    left: -14px;
    background-color: #eee;
    margin-left: 5px;
    width: 120px;
    padding: 12px 10px;
    border-radius: 6px;
}

.header nav .item:hover ul{
    display: flex;
    flex-direction: column;
}

.header nav .item ul li a{
    color: var(--text-color1);
    display: block;
    padding: 5px;
    font-size: 1em;
}

.header nav .item ul li a:hover{
    font-weight: 500;
}

.header nav .acesso{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: auto;
}

.header nav .acesso .login{
    color: white;
}

.header nav .acesso .sign-up{
    background-color: white;
    color: var(--hover-bg);
    padding: 10px 20px;
    border-radius: 25px;
    transition: .2s ease;
}

.header nav .acesso .sign-up:hover{
    color: white;
    background-color: var(--hover-bg);
}